body {
    background-color: #666;
    font-family: 'Orbitron', sans-serif;
    color: #000;
    background: -webkit-linear-gradient(bottom, rgb(0,0,0) 24%, rgb(107,51,51) 100%);

    background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.24, rgb(0,0,0)),
	    color-stop(1, rgb(107,51,51))
    );
}

#container {
    background-image: -webkit-linear-gradient(bottom, rgb(91,88,94) 23%, rgb(132,132,135) 86%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, rgb(91,88,94)),
	    color-stop(0.86, rgb(132,132,135))
    );

    border: 2px solid #000;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #999;
    box-shadow: 10px 10px 5px #444;
    border-radius: 10px;
    padding-bottom: 50px;
}

#header {
    font-family: 'Trade Winds', cursive;
    text-align: center;
    font-size: 3.5em;
    width: 1024px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid black;
}

.content {
    width: 1024px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
	border: 1px solid #000;
	cursor: crosshair;
}

.player {
    width: 75px;
    height: 75px;
    position: absolute;
    text-align: center;
    background-color: #0008ff;
    color: white;
}

#playerDetails {
    display: block;
}

.playerName {
    margin-top: 10px;
}

#displayname {
    background: transparent;
    border: none;
    font-size: 1.8em;
    font-weight: bold;
}

#newGame {
    border-radius: 5px;
    background-color: #666;
    border: 1px solid #000;
    font-size: 1.2em;
    font-weight: bold;
    float: right;
}

#newGame:hover {
    background-color: #708090;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

* {
    margin: 0;
}

#bottom {
    height: 15em;
}

#content {
    margin-bottom: 5em;
}

#theme.dark {
    color: #fff;
    background: #000;
}

    #theme.dark .room {
        position: relative;
        float: left;
        padding: 0 1em 1em 1em;
        max-width: 650px;
        width: 650px;
        border: 3px solid #222;
        height: 217px;
    }


    #theme.dark .msg {
        position: relative;
        background: #333;
        min-height: 22px;
        padding: .4em;
        margin: 1em 0 1.5em 0;
        border-width: 1px;
        border-style: solid;
    }
        #theme.dark .msg img {
            position: absolute;
            background: #000;
            border-width: 1px;
            border-style: solid;
            width: 38px;
            height: 38px;
            float: left;
            margin: .5em;
            top: 3px;
        }

        #theme.dark .msg time {
            position: absolute;
            top: -8px;
            right: 10px;
            padding: .1em .2em;
            background: #333;
            float: right;
            /*color: #d33;*/
            border-width: 1px;
            border-style: solid;
            font-size: 10px;
            font-style: italic;
        }

        #theme.dark .msg strong {
            position: absolute;
            left: 65px;
            margin-right: 20px;
            /*color: #33d;*/
            font-size: 18px;
            font-style: italic;
        }

    #theme.dark #message-box {
        position: absolute;
        z-index: 999999;
        background: #555;
        color: #eee;
        display: block;
        left: 0px;
        bottom: 0px;
        border: 3px solid #333;
        width: 68%;
        height: 24px;
        padding: .2em .7em;
        font-size: 16px;
    }

    #theme.dark #message-send {
        position: absolute;
        z-index: 999999;
        background: #333;
        display: block;
        right: 0px;
        bottom: 0px;
        border: 3px solid #333;
        width: 24%;
        height: 36px;
        font-size: 18px;
        color: #eee;
        text-transform: uppercase;
    }

#theme.dark #message-send:hover, #message-send:active, #message-send:focus {
    background: #222;
}

.msgText {
    position: relative;
    left: 135px;
    top: 2px;
    font-size: 16px;
}

.p2 {
    left: 75px;
}


.progressbar-outer {
  position: relative;
  background-color: white;
  width: 25%;
    float: right;
    margin-bottom: 1px;
    margin-top: 2px;
    margin-right: 30px;

}

.progressbar-inner {
   background-color: #1E90FF;
   width: 25%; 
   height: 20px;
   text-align: center;
   font: bold;
}

.metroButton:hover{
	-webkit-transform: scale(1.03);
}
