
body {
    background-color: #666;
}

.Chatcontainer {
    background-color: #9CF;
    border: thick solid #888;
    padding: 20px;
    width: 20%;
    float: right;
}

.canvas {
    width: 800px;
    height: 600px;
    padding: 20px;
    border: 5px solid #000;
    display: inline-block;
}

.player {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 500px;
    border: 2px solid #000;
    background-color: #060;
    border-radius: 10px;
}

#playerDetails {
    display: block;
    padding: 5px;
}

.playerName {
    border: 1px solid #000000;
    margin-left: 10px;
}

#displayname {
    border: 1px solid #000;
    background-color: #666;
    border: 1px solid #000;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

* {
    margin: 0;
}

#bottom {
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 15em;
    width: 100%;
}

#content {
    margin-bottom: 5em;
}

#theme.dark {
    font-family: Verdana, sans-serif;
    color: #fff;
    background: #000;
}

    #theme.dark .room {
        position: relative;
        padding: 0 1em 1em 1em;
        max-width: 650px;
        border: 3px solid #222;
        height: 217px;
    }

    #theme.dark .msg {
        position: relative;
        background: #333;
        min-height: 22px;
        padding: .4em;
        margin: 1em 0 1.5em 0;
    }

        #theme.dark .msg.playerOne {
            background: #333;
            border: 1px solid #33d;
        }

        #theme.dark .msg.playerTwo {
            background: #333;
            border: 1px solid #d33;
        }

        #theme.dark .msg.playerOne img {
            position: absolute;
            background: #000;
            border: 1px solid #33d;
            width: 38px;
            height: 38px;
            float: left;
            margin: .5em;
            top: 3px;
        }

        #theme.dark .msg.playerTwo img {
            position: absolute;
            background: #000;
            border: 1px solid #d33;
            width: 38px;
            height: 38px;
            float: right;
            margin: .5em;
            left: 572px;
            top: 3px;
        }

        #theme.dark .msg.playerTwo time {
            position: absolute;
            top: -8px;
            right: 23px;
            padding: .1em .2em;
            background: #333;
            float: right;
            color: #d33;
            border: 1px solid #d33;
            font-size: 10px;
            font-style: italic;
        }

        #theme.dark .msg.playerOne time {
            position: absolute;
            top: -8px;
            left: 8px;
            padding: .1em .2em;
            background: #333;
            float: left;
            color: #33d;
            border: 1px solid #33d;
            font-size: 10px;
            font-style: italic;
        }

        #theme.dark .msg.playerOne strong {
            position: absolute;
            left: 70px;
            margin-right: 20px;
            color: #33d;
            font-size: 18px;
            font-style: italic;
        }

        #theme.dark .msg.playerTwo strong {
            position: absolute;
            left: 13px;
            color: #d33;
            font-size: 18px;
            font-style: italic;
        }

    #theme.dark #message-box {
        position: absolute;
        z-index: 999999;
        background: #555;
        color: #eee;
        display: block;
        left: 0px;
        bottom: 0px;
        border: 3px solid #333;
        width: 70%;
        height: 24px;
        padding: .2em .7em;
        font-size: 16px;
    }

    #theme.dark #message-send {
        position: absolute;
        z-index: 999999;
        background: #333;
        display: block;
        right: 0px;
        bottom: 0px;
        border: 3px solid #333;
        width: 24%;
        height: 36px;
        font-size: 18px;
        color: #eee;
        text-transform: uppercase;
    }

        #theme.dark #message-send:hover, #message-send:active, #message-send:focus {
            background: #222;
        }

.msgText {
    position: relative;
    left: 130px;
    top: 2px;
    font-size: 16px;
}

.p2 {
    left: 70px;
}